body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    height: 100%;
    width: 100%;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
}

.text {
    position: absolute;
    color: white;
    font-size: 44px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    z-index: 10; /* Metinlerin videonun üstünde olmasını sağlamak için */
}

.top-left {
    top: 20px;
    left: 10px;
    animation: slideRight 10s linear infinite alternate;
}

.bottom-right {
    bottom: 20px;
    right: 10px;
    animation: slideLeft 10s linear infinite alternate;
}

/* Sol üst köşedeki metnin sağa doğru kayması ve geri dönmesi için animasyon */
@keyframes slideRight {
    0% {
        left: 10px;
    }
    50% {
        left: calc(100% - 700px); /* Metnin ekranın sağ kenarına kadar kaymasını sağlamak için */
    }
    100% {
        left: 10px; /* Metnin tekrar başlangıç noktasına dönmesini sağlamak için */
    }
}

/* Sağ alttaki metnin sola doğru kayması ve geri dönmesi için animasyon */
@keyframes slideLeft {
    0% {
        right: 10px;
    }
    50% {
        right: calc(100% - 1000px); /* Metnin ekranın sol kenarına kadar kaymasını sağlamak için */
    }
    100% {
        right: 10px; /* Metnin tekrar başlangıç noktasına dönmesini sağlamak için */
    }
}
